---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Color from "colorjs.io";
import colorTable from "../../modules/colorTable.js";
export const prerender = false;
const colors = Astro.url.searchParams?.get("colors")?.split(",").map(color => {
    return color.trim();
}).filter(Boolean) || [];
const hasColorToAdd = !!Astro.url.searchParams?.get("color") || false;
if (hasColorToAdd) {
    const colorToAdd = Astro.url.searchParams?.get("color").trim();
    if(!colors.includes(colorToAdd)){
        colors.push(colorToAdd);
        return Astro.redirect(`/compare-colors/?colors=${encodeURIComponent( colors.join(', ') )}`);
    }
}
let colorOutput = "";
if (colors && colors.length > 1) {
    colorOutput = colorTable(colors);
}
---
<Layout title={"Compare colors"}>
    <Header>Compare colors</Header>
    <main>
        <form action="./">
            <input-params>
                <label for="colors">
                    Compare colors by entering a comma separated list of color, for example: #ff0000, #ffffff,#fb0

                    <textarea 
                        cols="30" 
                        id="colors" 
                        name="colors" 
                        rows="10"
                    >{colors.join(", ")}</textarea>
                </label>
            </input-params>
            <label for="color">
                <span>
                    Add a color
                </span>
                <input value='' name="color" id="color" type="color" class="js-add-color" data-for="colors">
            </label>
            <button type="submit">submit</button>
        </form>
        <compare-colors data-prerendered="true">
            <Fragment set:html={colorOutput} />
        </compare-colors>
    </main>
</Layout>
<style>
    label {
        margin: 1.5em 0;
        display: block;
        line-height: 2;
    }
    textarea {
        color: #000;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 2.5%;
        border: 0.25em solid #000;
        border-radius: 1em;
        margin-top: .5em;
        font-size: 1em;
    }
    textarea:focus {
        outline: 0.25em solid var(--color);
        outline-offset: .125em;
    }
    button {
        color: var(--bg);
        background: var(--color);
        border: 0.25em solid;
        appearance: none;
        padding: 1em 2.5%;
        border-radius: 1em;
        font-size: 1em;
        line-height: 1;
    }
    @media print {
        form {
            display: none !important;
        }
    }
</style>
<style is:global>
    input-params:defined ~ button {
        visibility: hidden;
    }
    compare-colors p,
    compare-colors svg {
        vertical-align: middle;
    }
    compare-colors span {
        display: inline-block;
    }
    add-color {
        display: block;
    }
    .icon-no {
        stroke-width: 4.5;
    }
    .icon-large {
        stroke-width: 1.25;
    }
    .icon-yes {
        stroke-width: 1.25;
    }
</style>
<script src="../../modules/compare-colors.js"></script>
<script src="../../modules/input-params.js"></script>
<script>
const getColors = () => {
  const url = new URL(window.location.href);
  const colorString = url.searchParams.get('colors');
  const colors = url.searchParams.get('colors');
  return colors;
}
const setColors = () => {
  const colors = getColors();
  const compareColors = document.querySelector('compare-colors');
  if( compareColors) {
      compareColors.dataset.colors = colors || '';
  }
}

setColors();
window.addEventListener("popstate", (event) => {
  setColors();
});
const colorPicker = document.querySelector('.js-add-color');
colorPicker.addEventListener('change',(event => {
    const input = document.getElementById(colorPicker.dataset.for);
    console.log(colorPicker)
    input.value = input.value ? `${input.value}, ${colorPicker.value}` : colorPicker.value
    const changeEvent = new Event('input');
    input.dispatchEvent(changeEvent);
}))
</script>
