---
interface Props {
	color: string;
}

let { color = 'inherit' } = Astro.props;
const headerStyles = `header { color:${color} }`
---
<style>
  h1 {
    font-size: clamp(1.5em, calc(1.125em + 3vw), 4em );
    font-weight: 900;
  }
</style>
<style is:inline set:html={headerStyles}></style>
<header>
    <h1>
      <slot />
    </h1>
</header>