---
interface Props {
	color: string;
}

let { color = '#fff' } = Astro.props;
const headerStyles = `header { color:${color} }`
---
<style>
  h1 {
    font-size:4em;
    font-weight: 900;
  }
</style>
<style is:inline set:html={headerStyles}></style>
<header>
    <h1>
      <slot />
    </h1>
</header>