---
interface Props {
	title: string;
	isHome: boolean;
	borderColor: string;
}
const navLinks = [
	{
		text: 'Colors.fyi',
		url: '/',
		h1: true,
	},
	{
		text: 'Compare colors',
		url: '/compare-colors/',
	},
].map(link => {
	link.current = Astro.url.pathname === link.url
	return link
});

const { title, isHome,borderColor = 'var(--color)' } = Astro.props;
---
<!doctype html>
<html lang="en" style={`--accent:${borderColor}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="stylesheet" href="/style.css">
		<style>
			nav {
				padding-top: 15%;
				margin-top: 1em;
				vertical-align: baseline;
			}
			nav > * {
				margin: 0 1em 0 0;
			}
		</style>
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
		<link rel="manifest" href="/manifest.webmanifest">
	</head>
	<body>
		<nav class="container">
			{navLinks.map(link => {
				return <a 
					href={link.url} 
					class="big-link"
					aria-current={link.current ? 'page' : null}
				>
					<span>
						{link.text}
					</span>
				</a>
			})}
		</nav>
		<slot />
	</body>
</html>
<style>
	@media print {
        nav {
            display: none !important;
        }
    }
	.big-link span {
		border-bottom-color: var(--accent);
	}
</style>