---
interface Props {
	title: string;
	isHome: boolean;
	borderColor: string;
}

const { title, isHome,borderColor = 'var(--color)' } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/style.css">
		<style>
			nav {
				padding-top: 15%;
				margin-top: 1em;
				vertical-align: baseline;
			}
			nav > * {
				margin: 0 1em 0 0;
			}
		</style>
	</head>
	<body>
		<nav class="container">
			{isHome ? <h1 class="big-link"><span style="border-color: transparent">colors.fyi</span></h1> : <a class="big-link" href="/"><span style={`border-bottom-color:${borderColor}`}>colors.fyi</span></a>}
			<a href="/compare-colors/" class="big-link">
				<span>
					Compare colors
				</span>
			</a>
		</nav>
		<slot />
	</body>
</html>
<style>
	@media print {
        nav {
            display: none !important;
        }
    }
</style>